/*----------Style General-----------*/
.patient{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}
/*-----------------------------------*/



/*-*-*-*-*-Style Patient-GET-*-*-*-*-*-*/
.patient-get{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*------------Header Style-------------*/
.patient-get__header{
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 50px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #16425B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.patient-get__header-search{
    display: flex;
    align-items: center;
}
.patient-get__header-search select {
    height: 35px;
    width: 50px;
    background-color: #91aeb1;
    border-color: #D9DCD6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.patient-get__header-search input {
    background-color: #91aeb1;
    border: solid 1px #D9DCD6;
    width: 300px;
    height: 35px;
    border-left: none;
    border-right: none;
    outline: none;
    padding-left: 5px;
}

.patient-get__header-search input::placeholder {
    color: #000000;
    opacity: 1;
}

.patient-get__header-search button {
    background-color: #91aeb1;
    border: 1px solid #D9DCD6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    height: 35px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: none;
}

.patient-get__header-search svg{
    transition: fill 0.3s ease;
}

.patient-get__header-search:hover svg{
    fill: #16425B;
}

/*-------------------------------------*/

/*------------Table Style-------------*/
.patient-get__table{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
}
.patient-get__table-header{
    display: grid;
    background-color: #16425B;
    border-radius: 10px;
    color: #FFF;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 4px;
    font-weight: 700;
}

.patient-get__table-header span{
    display: flex; 
    align-items: center;
    height: 40px;
    padding: 8px 16px;
    border-right: solid 1px #D9DCD6;
    font-size: 14px;
}
.patient-get__table-header span:last-child {  
    border-right: none; /* Elimina el borde derecho del último */  
}  
.patient-get__table-header span:nth-last-child(-n+3) {  
    justify-content: center;
}  

.patient-get__table-body{
    background-color: #FFF;
    height: 100%;
    border-radius: 10px;
}

.patient-get__table-body__row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* .patient-get__table-body__row:nth-child(even){
    background-color: #A3C1D4;
} */

.patient-get__table-body__row:hover{
    background-color: #A3C1D4;
}

.patient-get__table-body__row span{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px 16px;
    border-right: solid 1px #D9DCD6;
    border-bottom: solid 1px #D9DCD6;
    font-size: 14px
}

.patient-get__table-body__row span{
    padding: 8px 16px;
    border-right: solid 1px #D9DCD6;
    border-bottom: solid 1px #D9DCD6;
    font-size: 14px
}

.patient-get__table-body__row span:last-child{
    border-right: none;
    gap: 16px;
}

.patient-get__table-body__row span:nth-last-child(-n+3) {  
    justify-content: center;
}  

.patient-get__table-body__row-actions{
    display: flex;
    align-items: center;
}
.patient-get__table-body__row-actions__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.view-btn{
    border: solid 2px #23481c;
    background-color: #4c7a46; /* Color más claro */
}

.view-btn:hover{
    transform: scale(1.1);
}

.edit-btn{
    border: solid 2px #f1a200; /* Amarillo anaranjado */
    background-color: #ffc04d; /* Amarillo tirando a naranja más claro */
}

.edit-btn:hover{
    transform: scale(1.1);
}

.delete-btn{
    border: solid 2px #c20100;
    background-color: #e74b48; /* Color más claro */
    transition: transform 0.3s ease; 
}

.delete-btn:hover{
    transform: scale(1.1);
}
/*-------------------------------------*/

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/



/*-*-*-*-*-Style Patient-POST-*-*-*-*-*-*/
/*------------Style General-------------*/
.patient-post{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.patient-post__form{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 72%;
    height: 98%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*---------------------------------------*/


/*-----------Header Form Style-----------*/
.patient-post__form-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    background-color: #16425B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFF;
}

.patient-post__form-header__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 236px;
}

.patient-post__form-header__title h2 {
    font-size: 1.65em;
}

.patient-post__form-header__close {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.patient-post__form-header__close svg{
    transition: fill 0.3s ease;
}

.patient-post__form-header__close:hover svg{
    fill: #c20100;
}

/*-------------------------------------*/

/*-----------Body Form Style----------*/
.patient-post__form-body {
    padding: 8px 16px;
}
.patient-post__form-body__content-data {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Crea 12 columnas flexibles */
    gap: 8px 16px; 
    padding-bottom: 10px;
    border-bottom: solid 1px #16425B;
}

.patient-post__form-body__content-address {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px 16px; 
}

.patient-post__form-body__content-address-usual,
.patient-post__form-body__content-address-current {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px 16px;
}

.patient-post__form-body__content-address-usual {
    border-right: solid 1px #16425B;
    padding-right: 16px;
}

/*-----------Swal Custom Style----------*/
.swal2-timer-progress-bar-container {
    background-color: #808080;
}

.swal-success__progress-bar {
    background-color: #5e8b57;
}

.swal-error__progress-bar {
    background-color: #c20100;
}