{% extends "base.html" %}
{% load static %}

{% block title %}Turnos{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'appointment/css/styles.css' %}">
{% endblock %}

{% block left_nav %}
<a href="{% url 'portal' %}">
    <img src="{% static 'rsc/icon/back_to_menu.svg' %}" alt="back-icon">
</a>
<img src="{% static 'rsc/icon/appointment.png' %}" alt="Logo" class="header__logo-image">
{% endblock %}

<!-- Sacar para ver la info de user -->
{% block user_info %} 
{% endblock %}

{% block content %}
<main class="main-content">
    <button class="main-content__create-appointment-button">Crear Turno</button>
    <div class="main-content__form-container">

        <div class="form__appointment">
            <div class="form-container__header">
                <div class="form-container__header-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar2-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm2 .5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V4a.5.5 0 0 0-.5-.5zm5 4.493c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                      </svg>
                      <h1>Añadir Turnos</h1>
                </div>
                <button class="form-appointment__create-patient">Añadir Paciente</button>
                <button class="form-appointment__exit">Salir</button>
            </div>
            <form method="post">
                {% csrf_token %}
                <h2>Datos del Turno</h2>
                {{ turno_form }}
                <button type="submit" name="submit_turno">Guardar Turno</button>
            </form>
        </div>


        <div class="form__patient">
            <div class="form-container__header">
                <div class="form-container__header-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar2-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm2 .5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V4a.5.5 0 0 0-.5-.5zm5 4.493c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                      </svg>
                      <h1>Añadir Paciente</h1>
                </div>
                <button class="form-patient__exit">Salir</button>
            </div>
            <form method="post">
                {% csrf_token %}
                <h2>Datos del Paciente</h2>
                {{ paciente_form }}
                <button type="submit" name="submit_paciente">Guardar Paciente</button>
            </form>
        </div>



    </div>
</main>
{% endblock %}

{% block scripts.js %}
<script src="{% static 'appointment/js/scripts.js' %}"></script>
{% endblock %}
