<!DOCTYPE html>
<html>
<head>
    <title>Contactos</title>
</head>
<body>
    <h1>Contactos</h1>
    <a href="{% url 'contactos_create' %}">Nuevo Contacto</a>
    <ul>
        {% for contacto in contactos %}
            <li>
                {{ contacto.telefono }} - {{ contacto.celular }} - {{ contacto.correo_electronico }}
                <a href="{% url 'contactos_update' contacto.pk %}">Editar</a>
                <a href="{% url 'contactos_delete' contacto.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>