{% extends "base.html" %}
{% load static %}

{% block title %}Configuración{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_settings/css/styles.css' %}">
{% endblock %}

{% block left_nav %}
<a href="{% url 'portal' %}">
    <img src="{% static 'rsc/icon/back_to_menu.svg' %}" alt="back-icon">
</a>
<img src="{% static 'rsc/icon/setting.png' %}" alt="Logo" class="header__logo-image">
{% endblock %}

{% block center_nav %}
<h2>Configuración de usuario</h2>
{% endblock %}

<!-- Datos del usuario -->
{% block content %}
<div class="user-settings">
    <h2>Configuración de la Contraseña</h2>
    <form id="password-change-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Contraseña Actual:</label>
            <input type="password" id="old_password" name="old_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">Nueva Contraseña:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">Cambiar Contraseña</button>
    </form>
    <div id="message"></div>
</div>
<script src="{% static 'user_settings/js/password_change.js' %}"></script>
{% endblock %}
