{% extends "base.html" %}
{% load static %}

{% block title %}Portal{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'portal/css/styles.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="app-container">
        <a href="{% url 'appointment' %}" class="app-container__item">
            <img src="{% static 'rsc/icon/appointment.png' %}" alt="appointment-icon" class="app-container__item-icon">
            <div class="app-container__item-text">Turnos</div>
        </a>
        <a href="{% url 'patient' %}" class="app-container__item">
            <img src="{% static 'rsc/icon/patient.png' %}" alt="patient-icon" class="app-container__item-icon">
            <div class="app-container__item-text">Pacientes</div>
        </a>
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="app-container__item">
            <img src="{% static 'rsc/icon/setting.png' %}" alt="setting" class="app-container__item-icon">
            <div class="app-container__item-text">Configuración</div>
        </a>
    </div>
</main>
{% endblock %}

{% block scripts.js %}
<script src="{% static 'portal/js/script.js' %}"></script>
{% endblock %}