{% extends 'authentication/signin.html' %}
{% load static %}

{% block title %}Registrarse{% endblock %}

<!-- Lado izquierdo de la autenticación-->
{% block auth-layout__logo-redirect %}
<a href="{% url 'login' %}">¿Ya estás registrado?</a>
{% endblock %}

<!-- Lado derecho de la autenticación-->
{% block auth-layout__content %}
<h1 class="auth-layout__title">Registrarse</h1>
<p class="auth-layout__description">Ingrese usuario y contraseña para continuar</p>
{{ error }}
<form action="{% url 'signup' %}" method="POST" class="auth-form" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="auth-form__submit" type="submit">Registrarse</button>
</form>
{% endblock %}