{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alitas Para Volar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <div class="auth-layout">
        <div class="auth-layout__logo">
            <img src="../../static/img/logo_alitas.png" alt="Logo" />
            <a href="{% url 'signup' %}">¿Aún no te has registrado?</a>
        </div>
        <div class="auth-layout__content">
            <h1 class="auth-layout__title">Iniciar Sesión</h1>

            {% if error %}
            <p class="auth-layout__description-error">
                {{ error }}
            </p>
            {% else %}

            <p class="auth-layout__description">
                Ingrese usuario y contraseña para continuar
            </p>
            {% endif %}

            <form action="{% url 'login' %}" method="POST" class="auth-form" autocomplete="off">
                {% csrf_token %} {{ form }}
                <button class="auth-form__submit" type="submit">
                    Iniciar Sesión
                </button>
            </form>
        </div>
    </div>
    <script src="./../static/js/scripts.js"></script>
</body>

</html>